<nav class="navbar">
    <ul class="unorder-list">
    <div class="logo">
        <img src="/image/abvocate.png" alt="lawyer">
       <h1 class="law">LAW FIRM</h1>
    </div>
    <li><a href="/">Home</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="#">Case Study</a></li>
    <li><a href="#">Practice Area</a></li>
    <li><a href="#">Contact</a></li>
    <!-- <li><a href="#">{{name}}</a></li> -->
    <div class="search-button">
        <button type="button" class="search"><a href="/">Book an Appointment</a></button>
    </div>
</ul>
</nav>