
<% layout('/partials/biolerplate.ejs') -%>
<body>
        <section id="home-con">
            <div style="display: flex; justify-content: center; align-items: center;     padding: 0 15%;">
                <div>
                    <h1 class="heading">
                        Aiming To Provides <br> High-Quality Legal  <br>Consultancy.
                    </h1>
                    <p class="para">We approach each problem with three essential elements:</p>
                    <p class="underline"> <span> strategic</span> <span>thinking</span><span>creative</span> <span>solutions</span> <span>proven result</span> </p>
                    <button class="btn">Free Consultation</button>
                </div>
            </div>
        </section>
    <section class="secondsection">
        <p class="practice">
            PRACTICE AREA
        </p>
        <div class="content1">
            <p style="text-align: center;">Gain the insights,advice and tools to achieve</p> 
            <p>your mission critical  priorities</p>
        </div>
            <div id="divide" >
               <div class="first-div">
                <div class="car">
                    <img src="/image/car.jpg" alt="">
                </div>
                <h1>Car Accidents</h1>
                <p>dolor sit amet consectetur adipisicing elit. <br>
                    Tempora, fugiat, voluptatibus similique iusto  <br>
                     soluta alias quo ipsum quia <br></p>
                     <button class="btn">READ MORE</button>
            </div>
                <div class="first-div">
                <div class="car">
                    <img src="/image/family-lawyer.jpg" alt="">
                </div>
                <h1>Business Contacts</h1>
                <p>dolor sit amet consectetur adipisicing elit. <br>
                    Tempora, fugiat, voluptatibus similique iusto <br>
                     soluta alias quo ipsum quia <br></p>
                     <button class="btn">READ MORE</button>
            </div>
                <div class="first-div">
                <div class="car">
                    <img src="/image/family.jpg" alt="">
                </div>
                <h1>Family Law</h1>
                <p>dolor sit amet consectetur adipisicing elit. <br>
                Tempora, fugiat, voluptatibus similique iusto  <br> 
                    soluta alias quo ipsum quia <br></p>
                    <button class="btn">READ MORE</button>
            </div>
            </div>
    </section>
    <section class="thirdsection">
        <div id="division">
            <div class="lawyer-image">
                <img src="/image/discussion.jpg" alt="lawyer">
            </div>
            <div class="about-more">
                <p class="self">ABOUT OUR LAW FIRM</p>
                <h1 class="self-experence">
                    We has more than 20 years of <br> experence and have solved <br> more than 2000 cases.
                </h1>
                <br>
                <p class="Intro">Lorem ipsum dolor sit amet consectetur adipisicing elit. <br>Magni ab molestias voluptatem laudantium </p>
                <button class="btn">More About Us</button>
            </div>
        </div>
    </section>
    <section class="forsection" style="width: 100%;" >
            <p class="support" >HOW CAN WE HELP</p>
            <h1 class="area">We equip leaders from strategy <br> through execution. </h1>
    <div>

        <div class="image-heading">
            <div class="icon">
            <div class="subdiv-inline">
                <img src="/image/check-solid.svg" alt="">
            </div>
            <div class="icon-heading">
                <h2 class="true">Seeing Things Differently</h2>
                <p class="para-true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Architecto eveniet rem esse numquam</p>
            </div>
        </div>
        <div class="division-block">
               <img src="/image/mitting.jpg" alt="mitting">
        </div>
    </div>
    <div class="image-heading">
            <div class="icon">
            <div class="subdiv-inline">
                <img src="/image/check-solid.svg" alt="">
            </div>
            <div class="icon-heading">
                <h2 class="true">Seeing Things Differently</h2>
                <p class="para-true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Architecto eveniet rem esse numquam</p>
            </div>
        </div>
        <div class="division-block">
              <video src="/image/video.mp4" controls></video>
        </div>
    </div>
    <div class="image-heading">
            <div class="icon">
            <div class="subdiv-inline">
                <img src="/image/check-solid.svg" alt="">
            </div>
            <div class="icon-heading">
                <h2 class="true">Seeing Things Differently</h2>
                <p class="para-true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. <br> Architecto eveniet rem esse numquam</p>
            </div>
        </div>
        <div class="division-block">
               <!-- <img src="/image/court.jpg" alt="mitting"> -->
               <video src="/image/video.mp4" controls></video>
        </div>
    </div>

    </div>

    </section>
    <section class="fivesection">
        <div class="get-post">
        <div class="logo-post">
            <img src="/image/developer.jpg" alt="logo">
        </div>
        <div class="logo-content">
            <p class="let-about">Talk to us We promise we can help you!</p>
            <br>
            <h1 class="about-turn">You Can trust us to get you the <br> Justice you deserve.</h1>
            <button class="btn">Male an Appointment</button>
        </div>
    </div>
    </section>
    <section class="metedata">
     <div class="for-images-section">
        <div class="imagedata">
            <p class="cases">Case Study</p>
            <h1 class="heading-tag">We equip leaders from <br> strategy through ease <br>execution</h1>
            <button class="btn">All Case Study</button>
        </div>
        <div class="imagedata">
            <img src="/image/discussion.jpg" alt="lawyer">
            <p class="imagecontentdata">Million in document review</p>
            <a class="button-btn" href="#">Data analysis</a>
        </div>
        <div class="imagedata">
            <img src="/image/discussion.jpg" alt="lawyer">
            <p class="imagecontentdata">Million in document review</p>
            <a class="button-btn" href="#">Data analysis</a>
        </div>
     </div>
     <div class="image-delay">
        <div class="imagedata response">
            <img src="/image/discussion.jpg" alt="lawyer">
            <p class="imagecontentdata">Million in document review</p>
            <a class="button-btn" href="#">Data analysis</a>
        </div>
        <div class="imagedata">
            <img src="/image/discussion.jpg" alt="lawyer">
            <p class="imagecontentdata">Million in document review</p>
            <a class="button-btn" href="#">Data analysis</a>
        </div>
     </div>
    </section>
    <section class="form-data">
        <div class="main-container">
            <div class="image-photo">
                <img src="/image/family-lawyer.jpg" alt="lawyer">
            </div>
            <div class="form-contant">
                <div class="form-related">
                    <p class="request">
                        REQUEST FREE COMMUNICATION
                    </p>
                    <h1 class="addto-card">
                        Thank for your interest. <br>
                        Book an Appointment?
                    </h1>
                </div>
                <form method="post" action="/about">
                <div class="input-data">
                         <input type="text" placeholder="First your name" name="fname">
                </div>
                <div class="input-data">
                         <input type="text" placeholder="Last Name" name="lname">
                </div>
                <div class="input-data">
                    <input type="email" placeholder="Type E-mail address" name="email">
                </div>
                <div class="input-data">
                         <input type="number" placeholder="Phone No" name="phone">
                </div>
                <div class="input-data">
                    <textarea name="description" id="name" cols="30" rows="10" placeholder="Write Case Study"></textarea>
                </div>
                <div class="input-data">
                    <button type="submit" class="input-btn" name="submit">Create Chat</button>
                </div>
            </form>
            </div>
        </div>
    </section>
    <footer class="copywrite">
        <div class="main-footer-div">
            <div class="logo-footer">
                <img src="/image/abvocate.png" alt="lawyer">
               <h1 class="footer-law">LAW FIRM</h1>
            </div>
            <div class="footer-main">
            <div class="head-footer">
               <h1 class="footer-sign">Welcome</h1>
               <p class="menu-bar">Home</p>
               <p class="menu-bar">About</p>
               <p class="menu-bar">Case Study</p>
               <p class="menu-bar">Practice Area</p>
               <p class="menu-bar">Contact</p>
            </div>
            <div class="head-footer">
               <h1 class="footer-sign">Practice</h1>
               <p class="menu-bar">Business</p>
               <p class="menu-bar">Family law</p>
               <p class="menu-bar">Crimenal law</p>
               <p class="menu-bar">Social law</p>
               <p class="menu-bar"></p>
               <p class="menu-bar"></p>
            </div>
            <div class="head-footer footer-nav">
               <h1 class="footer-sign">SignUp for Email Updates</h1>
               <p class="menu-bar">Business</p>
               <p class="menu-bar"> elit. Mollitia, hic accusantium.</p>
               <p class="menu-bar" style="padding-bottom: 15px;"> consectetur adipisicing elit.!</p>
               <input class="input-subscribe" type="email" placeholder="Type Email Address">
               <input class="subscribe" type="button" value="Subscribe Now">
            </div>
        </div>
    </div>
    </footer>
</body>
